# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtualenv
env/
venv/
ENV/

# Django
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations (по желанию)
**/migrations/*.py
!**/migrations/__init__.py
